# Ignore build directories
/build/
../.gradle/
out/

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore macOS-specific files
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore dependency lock files
gradle.lockfile
